{
    color: #000;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}

.btn-group a:hover {
    background: transparent;
    color: #00abf0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #081b29; /* Latar belakang gelap */
    color: #ededed;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

nav a:hover, nav a.active {
    color: #00abf0;
}

.contact-btn {
    background: #00abf0;
    color: #081b29 !important;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 600;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Memisahkan teks & gambar */
    padding: 0 10%;
}

.home-content {
    max-width: 500px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    color: #00abf0;
}

.home-content p {
    margin: 20px 0 40px;
}

.btn-group {
    display: flex;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 40px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.btn-outline {
    background: transparent;
    color: #00abf0;
}

.btn:hover {
    box-shadow: 0 0 20px #00abf0;
}


.home-img {
    position: relative;
    width: 450px;
    height: 450px;
    background: #00abf0;
    border-radius: 50%;
    /* Efek cahaya luar */
    box-shadow: 0 0 25px #00abf0, 0 0 50px #00abf0; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img img {
    width: 90%;
    object-fit: cover;
}

.home-img img {
    width: 100%; 
    object-fit: cover;
    
}